
/* Banner Style */
.banner {
	position: relative;
	text-align: center;
	margin-top: 80px;
}

.banner-item-01 {
    position: relative;
    padding: 300px 0px;
}

.banner-item-01::before {
    content: "";
    background-image: url(https://cdn.discordapp.com/attachments/441308112524279809/1309155207107711037/IMG_2397.jpg?ex=67408d4c&is=673f3bcc&hm=9e76af3becfc350724adeb5521940725839762263bc0c82b5ab33186d0ad296a&);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.banner-item-02 {
	padding: 300px 0px;
	background-image: url(https://cdn.discordapp.com/attachments/441308112524279809/1309155207673811034/IMG_2396.jpg?ex=67408d4c&is=673f3bcc&hm=89d9632250a29f8f387cdd4d0a2b990cf5a7c62c86617fb8fb369f901eb89f1d&);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner-item-03 {
	padding: 300px 0px;
	background-image: url(https://cdn.discordapp.com/attachments/441308112524279809/1309155208198361128/IMG_2395.jpg?ex=67408d4c&is=673f3bcc&hm=7bcad26e382bfdc35de4a25f7ad653a609fb66c914aae1630dacb63f3b12e52f&);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner .banner-item {
	max-height: 600px;
}

.banner .text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.banner .text-content h4 {
	color: #027148;
	font-size: 60px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.banner .text-content h2 {
	color: #fff;
	font-size: 75px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.owl-banner .owl-dots .owl-dot {
  border-radius: 3px;
}
.owl-banner .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}
.owl-banner .owl-dots .owl-dot:focus {
    outline: none
}
.owl-banner .owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 1;
}


/* Responsive Style */
@media (max-width: 768px) {
	.banner .text-content {
		width: 90%;
		margin-left: 5%;
	}
	.banner .text-content h4 {
		font-size: 22px;
	}

	.banner .text-content h2 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.banner-item-01,
	.banner-item-02,
	.banner-item-03 {
		padding: 180px 0px;
	}
}